@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lilita+One&display=swap');


:root {
    --fonte1: 'Segoe UI', Tahoma, Verdana, sans-serif;
    --fonte2: "Lilita One", sans-serif;
    --fonte3: "Caveat", cursive;
    
}



* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1  6 3 );
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 5vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte3);
    font-size: 3vw;
    
}


section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(51, 51, 51);
    color: white;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgb(0, 0, 0.253);
    width: 400px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}