@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}


body {
    
background-image: linear-gradient(to right, #F28F79, #F2C7AE);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8b2c23;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #BF3C30;
    text-align: center;
    text-shadow: 1px 1px 1px #9c3228d7;
}

h2 {
    color: #96aa53;
}

p {
    text-align: justify;
}